<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li *ngFor="let menuItem of menu">
        <div *ngIf="menuItem.link == '/logout'; else default;">
          <a (click)="logout()">{{menuItem.name}}</a>
        </div>
        <ng-template #default >
            <a routerLink="{{menuItem.link}}" >{{menuItem.name}}</a>
        </ng-template>
      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <div class="container sticky-top bg-full">
      <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn">
            <i class="fas fa-bars"></i>
          </button>
          <p class="site-title">beratakgul</p>
        </div>
      </nav>
    </div>
    <section>
      <my-placeholder name="main"></my-placeholder>
    </section>

  </div>
</div>

<div class="overlay"></div>
<ngx-spinner 
    bdColor="rgba(51, 51, 51, 0.8)" 
    size="medium" 
    color="#fff" 
    type="ball-spin">
</ngx-spinner>
<router-outlet name="master"></router-outlet>