/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
    font-family: 'Poppins', sans-serif;
    background: #f5f6f8;
    color: #292f33;
    height: 100%;
}
.adminInput{
    width: 100%;
    margin-bottom: 23px;
}
.adminLabel {
    padding-top: 4px;
}
.adminButton {
    width: 50%;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display:block
}
#buttonWrapper {
    text-align: center;
  }

@media (min-width: 320px) and (max-width: 500px) { .content-image  { max-width: 320px; } }
@media (min-width: 501px) and (max-width: 767px) { .content-image  { max-width: 500px; } }
@media (min-width: 768px) and (max-width: 991px) {.content-image  { width: 500px; } }
@media (min-width: 992px) and (max-width: 1199px) {.content-image{ width: 670px; }}
@media (min-width: 1200px)  { .content-image  { max-width: 670px; } }

