<my-content placeholder="main">
    <div class="container">
        <form #formRef="ngForm" style="width: 100%;">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="input-group input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Başlık: </span>
                    </div>
                    <input [(ngModel)]="blogTitle" name="blogTitle" id="blogTitle" type="text" class="form-control"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" 
                        autocomplete="off" #titleRef="ngModel" required>
                    <div class="input-group text-danger">
                        <span *ngIf="titleRef.dirty  && titleRef.errors?.required">Başlık girmelisiniz</span>&nbsp;
                    </div>
                </div>
                <div class="input-group input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Link: </span>
                    </div>
                    <input [(ngModel)]="blogLink" name="blogLink" id="blogLink" type="text" class="form-control"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" 
                        autocomplete="off" #linkRef="ngModel" required>
                    <div class="input-group text-danger">
                        <span *ngIf="linkRef.dirty  && linkRef.errors?.required">Link girmelisiniz</span>&nbsp;
                    </div>
                </div>
                <div class="input-group input-group mb-3">
                    <div class="input-group-prepend mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Kategori</label>
                    </div>
                    <select [(ngModel)]="selectedCategory" class="custom-select" name="categories_"   #categoryRef="ngModel" required>
                        <option *ngFor="let c of categories">{{c.name}}</option>
                    </select>
                </div>
                <div class="input-group input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Ana Resim: </span>
                    </div>
                    <input [(ngModel)]="mainImage" name="mainImage" id="mainImage" type="text" class="form-control"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" 
                        autocomplete="off" #imageRef="ngModel">
                </div>
            </div>

            <ckeditor [(ngModel)]="mycontent" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig" debounce="500" (change)="onChange($event)">
            </ckeditor>
            <div class="input-group text-danger">
                <span *ngIf="myckeditor.dirty  && myckeditor.errors?.required">Yazının icerigi boş bırakılamaz</span>&nbsp;
            </div>
            <div class="buttonWrapper">
                <button class="btn btn-primary adminButton" (AddIfValid)="addNewPost()">Ekle</button>
            </div>
        </form>
    </div>
</my-content>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>