.post-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

@media (max-width: 767px) { 
    .container  { max-width: 600px; }
     
    
  }
/* This width range is for tablet (tr: tabletler için) */
@media (min-width: 768px) and (max-width: 991px) {
    .container  { width: 530px; }
    
    
  }
@media (min-width: 992px) and (max-width: 1199px) {
    
    .container{ 
        width: 700px; 
    }
    
  }
@media (min-width: 1200px) {
    .container  { max-width: 700px; }

  }